@import 'modules/grid';
@import 'modules/animation';
@import 'partials/base';
body {
  background-color: #DCD0C0;
  height: 100%;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
