.forest-background {
  background-image: url(https://cloud.githubusercontent.com/assets/16049515/22349107/2f7600a0-e406-11e6-9dea-f4a4fba0d9fb.png);
  height: 100%;
  position: relative;
  width: 100%;
  margin-left: -20px;
  opacity: 1;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
          animation: fadein 4s;
}
.enter-container {
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 7s; /* Firefox < 16 */
      -ms-animation: fadein 7s; /* Internet Explorer */
          animation: fadein 7s;
  position: fixed;
  top: 10em;
  left: 40em;
  color: white;
  font-size: 3em;
}
.entry-container {
  height: 100%;
}
.walking-man {
  position: fixed;
  top: 25em;
  left: 40em;
}
